<div class="footer fixed" hidden>@*Hưng ẩn 14.3.2025 - chuyển lên toolbar header cho rộng cửa sổ dưới*@
    <div class="pull-right">
        Developing by <a href="http://incosaf.com.vn"><strong>Incosaf</strong></a>
    </div>
    <div>
        <strong>Copyright</strong> Incosaf &copy; @DateTime.Now.Year
    </div>
</div>

