@{
    Layout = null;
    ViewBag.Title = "Xác nhận Email";
}

<h2>@ViewBag.Title</h2>
<div>
    <p>
        Cảm ơn bạn đã xác nhận Email. Vui lòng @Html.ActionLink("Nhấn vào đây để Đăng nhập", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
