@model List<string>

    <div class="list-group">
        @foreach (var file in Model)
        {
            <a href="@Url.Content("~/Hoso/" + ViewBag.MaHD + "/" + file)" target="_blank" class="list-group-item">
                @file
            </a>
        }
    </div>
