@model IEnumerable<IncosafCMS.Core.DomainModels.InternalPayment>    
    @{
        Html.EnableClientValidation();
        Html.EnableUnobtrusiveJavaScript();

        var grid = Html.DevExpress().GridView(settings =>
        {
            settings.Name = "gvInternalPaymentOfDetailContract";
            settings.CallbackRouteValues = new { Controller = "Contracts", Action = "InternalPaymentsOfDetailContractPartial" };
            settings.CustomActionRouteValues = new { Controller = "Contracts", Action = "CustomCallBackInternalPaymentsOfDetailContractAction" };

            settings.SettingsEditing.AddNewRowRouteValues = new { Controller = "Contracts", Action = "InternalPaymentsOfContractPartialAddNewViaContract" };
            settings.SettingsEditing.UpdateRowRouteValues = new { Controller = "Contracts", Action = "InternalPaymentsOfContractPartialUpdateViaContract" };
            settings.SettingsEditing.DeleteRowRouteValues = new { Controller = "Contracts", Action = "InternalPaymentsOfContractPartialDeleteViaContract" };

            settings.KeyFieldName = "Id";

            settings.SettingsText.EmptyDataRow = "Không có kết quả nào";

            settings.SettingsEditing.Mode = GridViewEditingMode.EditFormAndDisplayRow;
            settings.SettingsBehavior.ConfirmDelete = true;

            settings.SettingsPopup.EditForm.HorizontalAlign = PopupHorizontalAlign.Center;
            settings.SettingsPopup.EditForm.VerticalAlign = PopupVerticalAlign.NotSet;
            settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
            settings.SettingsBehavior.AllowFocusedRow = true;
            settings.SettingsLoadingPanel.Text = "Đang tải...";
            settings.SettingsLoadingPanel.Mode = GridViewLoadingPanelMode.ShowAsPopup;

            settings.Styles.Header.Paddings.PaddingTop = System.Web.UI.WebControls.Unit.Pixel(5);
            settings.Styles.Header.Paddings.PaddingBottom = System.Web.UI.WebControls.Unit.Pixel(5);
            settings.Styles.Cell.Paddings.PaddingTop = System.Web.UI.WebControls.Unit.Pixel(5);
            settings.Styles.Cell.Paddings.PaddingBottom = System.Web.UI.WebControls.Unit.Pixel(5);
            settings.ControlStyle.Border.BorderStyle = System.Web.UI.WebControls.BorderStyle.None;


            settings.SettingsPager.Summary.EmptyText = "Không có dữ liệu để đánh số trang";
            settings.SettingsPager.Summary.AllPagesText = "Trang {0}/{1} ({2} kết quả)";
            settings.SettingsPager.Summary.Text = "Trang {0}/{1} ({2} kết quả)";
            settings.SettingsPager.PageSize = 3;
            settings.SettingsPager.Mode = GridViewPagerMode.ShowAllRecords;
            settings.SettingsPager.AllButton.Visible = false;
            settings.SettingsPager.LastPageButton.Visible = false;
            settings.SettingsPager.FirstPageButton.Visible = false;

            settings.Toolbars.Add(toolbar =>
            {
                toolbar.Enabled = true;
                toolbar.Position = GridToolbarPosition.Top;
                toolbar.ItemAlign = GridToolbarItemAlign.Justify;
                toolbar.Items.Add(GridViewToolbarCommand.New).Text = "Tạo mới";
                toolbar.Items.Add(GridViewToolbarCommand.Edit).Text = "Chỉnh sửa";
                toolbar.Items.Add(GridViewToolbarCommand.Delete).Text = "Xóa";
                toolbar.Items.Add(GridViewToolbarCommand.Refresh, true).Text = "Làm mới";
            });

    //settings.Columns.Add(column =>
    //{
    //    column.Caption = "STT";
    //    column.FieldName = "STT";
    //    column.Settings.AllowSort = DefaultBoolean.False;
    //    column.Width = System.Web.UI.WebControls.Unit.Pixel(20);
    //    column.HeaderStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;
    //    column.EditFormSettings.Visible = DefaultBoolean.False;
    //    column.UnboundType = DevExpress.Data.UnboundColumnType.Integer;
    //    column.CellStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;
    //});

    settings.Columns.Add(column =>
            {
                column.Caption = "Tên nội dung";
                column.FieldName = "InternalPaymentName";
                column.UnboundType = DevExpress.Data.UnboundColumnType.String;
                column.Visible = false;
            });

            settings.Columns.Add(column =>
            {
                column.Caption = "Ngày";
                column.FieldName = "InternalPaymentDate";
                column.Width = System.Web.UI.WebControls.Unit.Pixel(100);
                column.ColumnType = MVCxGridViewColumnType.DateEdit;
                column.UnboundType = DevExpress.Data.UnboundColumnType.DateTime;
                column.PropertiesEdit.DisplayFormatString = "dd/MM/yyyy";
                column.UnboundExpression = "AddMonths(AddDays(Today(), [ReorderLevel]), -1)";
                column.SortOrder = DevExpress.Data.ColumnSortOrder.Descending;
                column.HeaderStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;
                column.CellStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;
            });

            settings.Columns.Add(column =>
            {
                column.Caption = "Giá trị";
                column.FieldName = "InternalPaymentValue";
                column.Width = System.Web.UI.WebControls.Unit.Pixel(100);
                column.PropertiesEdit.DisplayFormatString = "N0";

                column.SetDataItemTemplateContent(cell =>
                {
                    if (!string.IsNullOrWhiteSpace(cell.Text))
                        ViewContext.Writer.Write("<span class=\"badge badge-primary\">" + cell.Text + "</span>");

                });

                column.HeaderStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;
                column.UnboundType = DevExpress.Data.UnboundColumnType.Decimal;
                column.CellStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;
            });

            settings.Columns.Add(column =>
            {
                column.Caption = "Số P.thu";
                column.FieldName = "InternalPaymentNumber";
                column.UnboundType = DevExpress.Data.UnboundColumnType.String;
                column.HeaderStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;
                column.CellStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;
            });

            settings.Columns.Add(column =>
            {
                column.Caption = "Kiểu thanh toán";
                column.FieldName = "IPType";
                column.ColumnType = MVCxGridViewColumnType.ComboBox;

                var comboBoxProperties = column.PropertiesEdit as ComboBoxProperties;
                Dictionary<IncosafCMS.Core.DomainModels.InternalPaymentType, string> dict = new Dictionary<IncosafCMS.Core.DomainModels.InternalPaymentType, string>();
                foreach (IncosafCMS.Core.DomainModels.InternalPaymentType item in Enum.GetValues(typeof(IncosafCMS.Core.DomainModels.InternalPaymentType)))
                {
                    var type = item.GetType();
                    var member = type.GetMember(item.ToString());
                    var attribute = member[0].GetCustomAttributes(false).FirstOrDefault();
                    string text = attribute != null ? (attribute as System.ComponentModel.DescriptionAttribute).Description : item.ToString();
                    dict.Add(item, string.Format("{0}", text));
                }

                comboBoxProperties.DataSource = dict;
                comboBoxProperties.TextField = "Value";
                comboBoxProperties.ValueField = "Key";
                comboBoxProperties.ValueType = typeof(IncosafCMS.Core.DomainModels.InternalPaymentType);

            });

            settings.Columns.Add(column =>
            {
                column.Caption = "Ghi chú";
                column.FieldName = "InternalPaymentNote";
                column.Visible = false;
                column.ShowInCustomizationForm = true;
                column.ColumnType = MVCxGridViewColumnType.Memo;
                column.UnboundType = DevExpress.Data.UnboundColumnType.String;
            });

            settings.EditFormLayoutProperties.ColCount = 2;
            settings.EditFormLayoutProperties.SettingsItemCaptions.Location = LayoutItemCaptionLocation.Top;
            settings.EditFormLayoutProperties.Items.Add("InternalPaymentName");
            settings.EditFormLayoutProperties.Items.Add("InternalPaymentNumber");
            settings.EditFormLayoutProperties.Items.Add("InternalPaymentDate");
            settings.EditFormLayoutProperties.Items.Add("IPType");
            settings.EditFormLayoutProperties.Items.Add("InternalPaymentValue");
            settings.EditFormLayoutProperties.Items.Add("InternalPaymentNote");
            settings.EditFormLayoutProperties.Items.AddCommandItem(itemSettings =>
            {
                itemSettings.HorizontalAlign = FormLayoutHorizontalAlign.Right;
                itemSettings.ColSpan = 2;
            });

    //settings.CustomColumnDisplayText = (sender, e) =>
    //{
    //    if (e.Column.FieldName == "STT")
    //    {
    //        var i = e.VisibleIndex + 1;
    //        e.DisplayText = (i).ToString();
    //    }
    //};

    settings.BeforeGetCallbackResult = (sender, e) =>
            {
                MVCxGridView gridView = sender as MVCxGridView;
                if (gridView.IsNewRowEditing)
                {
                    gridView.SettingsText.CommandUpdate = "Lưu lại";
                    gridView.SettingsText.CommandCancel = "Hủy bỏ";
                }
                else
                {
                    gridView.SettingsText.CommandUpdate = "Cập nhật";
                    gridView.SettingsText.CommandCancel = "Hủy bỏ";
                }
            };

            settings.CellEditorInitialize = (s, e) =>
            {
                ASPxEdit editor = (ASPxEdit)e.Editor;
                editor.ValidationSettings.Display = Display.Dynamic;
            };

        });

    }
    @grid.Bind(Model).GetHtml()