@model IEnumerable<IncosafCMS.Core.DomainModels.AccTask>

@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();

    var grid = Html.DevExpress().GridView(settings =>
    {
        settings.Name = "gvTaskOfContract";
        settings.KeyFieldName = "Id";
        settings.CallbackRouteValues = new { Controller = "Contracts", Action = "TasksOfContractPartial" };
        settings.CustomActionRouteValues = new { Controller = "Contracts", Action = "CustomCallBackTasksOfContractAction" };

        settings.SettingsText.EmptyDataRow = "Không có kết quả nào";

        settings.SettingsPopup.EditForm.HorizontalAlign = PopupHorizontalAlign.Center;
        settings.SettingsPopup.EditForm.VerticalAlign = PopupVerticalAlign.NotSet;
        settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
        // settings.Height = System.Web.UI.WebControls.Unit.Percentage(100);
        settings.SettingsBehavior.AllowFocusedRow = true;
        settings.SettingsLoadingPanel.Text = "Đang tải...";
        settings.SettingsLoadingPanel.Mode = GridViewLoadingPanelMode.ShowAsPopup;

        settings.Styles.Header.Paddings.PaddingTop = System.Web.UI.WebControls.Unit.Pixel(5);
        settings.Styles.Header.Paddings.PaddingBottom = System.Web.UI.WebControls.Unit.Pixel(5);
        settings.Styles.Cell.Paddings.PaddingTop = System.Web.UI.WebControls.Unit.Pixel(5);
        settings.Styles.Cell.Paddings.PaddingBottom = System.Web.UI.WebControls.Unit.Pixel(5);
        settings.ControlStyle.Border.BorderStyle = System.Web.UI.WebControls.BorderStyle.None;


        settings.SettingsPager.Summary.EmptyText = "Không có dữ liệu để đánh số trang";
        settings.SettingsPager.Summary.AllPagesText = "Trang {0}/{1} ({2} kết quả)";
        settings.SettingsPager.Summary.Text = "Trang {0}/{1} ({2} kết quả)";
        settings.SettingsPager.PageSize = 3;
        settings.SettingsPager.Mode = GridViewPagerMode.ShowAllRecords;
        settings.SettingsPager.AllButton.Visible = false;
        settings.SettingsPager.LastPageButton.Visible = false;
        settings.SettingsPager.FirstPageButton.Visible = false;


        //settings.SettingsBehavior.AllowEllipsisInText = false;
        //settings.SettingsContextMenu.Enabled = true;
        //settings.SettingsContextMenu.RowMenuItemVisibility.DeleteRow = false;
        //settings.SettingsContextMenu.RowMenuItemVisibility.EditRow = false;
        //settings.SettingsContextMenu.RowMenuItemVisibility.NewRow = false;
        //settings.SettingsContextMenu.RowMenuItemVisibility.ExpandRow = false;
        //settings.SettingsContextMenu.RowMenuItemVisibility.CollapseRow = false;
        //settings.SettingsContextMenu.RowMenuItemVisibility.Refresh = false;
        //settings.SettingsContextMenu.RowMenuItemVisibility.GroupSummaryMenu.Visible = false;
        //settings.SettingsContextMenu.EnableColumnMenu = DefaultBoolean.False;
        //settings.SettingsContextMenu.EnableFooterMenu = DefaultBoolean.False;
        //settings.SettingsContextMenu.EnableGroupFooterMenu = DefaultBoolean.False;
        //settings.SettingsContextMenu.EnableGroupPanelMenu = DefaultBoolean.False;

        //settings.FillContextMenuItems = (sender, e) =>
        //{
        //    if (e.MenuType == GridViewContextMenuType.Rows)
        //    {
        //        e.Items.Add("Tạo mới thiết bị", "CreateNewEquipment", "/Images/add_new_equipment.png");
        //        e.Items.Add("Chỉnh sửa biên bản", "EditAccreditation", "/Images/edit_accreditation.png");
        //    }
        //};

        //settings.ClientSideEvents.ContextMenuItemClick = "TaskOfContractMenuClick";

        settings.Toolbars.Add(toolbar =>
        {
            toolbar.Enabled = true;
            toolbar.Position = GridToolbarPosition.Top;
            toolbar.ItemAlign = GridToolbarItemAlign.Justify;
            toolbar.Items.Add(i => {
                i.Text = "Tạo T.bị";
                i.Name = "CreateNewEquipment";
                i.Image.IconID = DevExpress.Web.ASPxThemes.IconID.DataAddnewdatasource16x16gray;
            });
            toolbar.Items.Add(i =>
            {
                i.Text = "Sửa B.bản";
                i.Name = "EditAccreditation";
                i.Image.IconID = DevExpress.Web.ASPxThemes.IconID.DataEditdatasource16x16gray;
            });
            toolbar.Items.Add(i =>
            {
                i.Text = "In ấn";
                i.Name = "PrintAccreditation";
                i.Image.IconID = DevExpress.Web.ASPxThemes.IconID.PrintPrint16x16gray;
            });
            toolbar.Items.Add(GridViewToolbarCommand.Refresh, true).Text = "Làm mới";
        });

        settings.ClientSideEvents.ToolbarItemClick = "TaskOfContractMenuClick";

        settings.Columns.Add(column =>
        {
            column.Caption = "STT";
            column.FieldName = "STT";
            column.Settings.AllowSort = DefaultBoolean.False;
            column.Width = System.Web.UI.WebControls.Unit.Pixel(20);
            column.HeaderStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;
            column.EditFormSettings.Visible = DefaultBoolean.False;
            column.UnboundType = DevExpress.Data.UnboundColumnType.Integer;
            column.CellStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;
            column.Visible = true;//mở 13.5.2025
        });
        settings.CustomColumnDisplayText = (sender, e) =>
        {
            if (e.Column.FieldName == "STT")
            {
                var i = e.VisibleIndex + 1;
                e.DisplayText = (i).ToString();
            }
        };

        settings.Columns.Add(column =>
        {
            column.Caption = "Nội dung công việc";
            column.FieldName = "Name";
            column.Settings.AllowSort = DefaultBoolean.False;
            column.UnboundType = DevExpress.Data.UnboundColumnType.String;
        });

        settings.Columns.Add(column =>
        {
            column.Caption = "Đ.vị";
            column.FieldName = "Unit";
            column.Settings.AllowSort = DefaultBoolean.False;
            column.Width = System.Web.UI.WebControls.Unit.Pixel(20);
            column.HeaderStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;
            column.UnboundType = DevExpress.Data.UnboundColumnType.String;
            column.CellStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;
        });

        settings.Columns.Add(column =>
        {
            column.Caption = "KL";
            column.FieldName = "Amount";
            column.Settings.AllowSort = DefaultBoolean.False;
            column.Width = System.Web.UI.WebControls.Unit.Pixel(15);
            column.PropertiesEdit.DisplayFormatString = "N1";
            column.SetDataItemTemplateContent(cell =>
            {
                if (!string.IsNullOrWhiteSpace(cell.Text))
                    ViewContext.Writer.Write("<span class=\"badge badge-warning\">" + cell.Text + "</span>");

            });
            column.HeaderStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;
            column.UnboundType = DevExpress.Data.UnboundColumnType.Integer;
            column.CellStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;
        });

        settings.Columns.Add(column =>
        {
            column.Caption = "Đơn giá";
            column.FieldName = "UnitPrice";
            column.Settings.AllowSort = DefaultBoolean.False;
            column.Width = System.Web.UI.WebControls.Unit.Pixel(100);
            column.PropertiesEdit.DisplayFormatString = "N0";
            column.SetDataItemTemplateContent(cell =>
            {
                if (!string.IsNullOrWhiteSpace(cell.Text))
                    ViewContext.Writer.Write("<span class=\"badge badge-primary\">" + cell.Text + "</span>");

            });
            column.HeaderStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;
            column.UnboundType = DevExpress.Data.UnboundColumnType.Decimal;
            column.CellStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;
        });

        // 10/08/2024 thêm khoán công ty, chi tiết trong công việc ở home, Chi tiết hợp đồng
        settings.Columns.Add(column =>
        {
            column.Caption = "K.Cty";
            column.FieldName = "Tyle1";
            column.Settings.AllowSort = DefaultBoolean.False;
            column.Width = System.Web.UI.WebControls.Unit.Pixel(15);
            column.PropertiesEdit.DisplayFormatString = "N1";
            column.SetDataItemTemplateContent(cell =>
            {
                if (!string.IsNullOrWhiteSpace(cell.Text))
                    ViewContext.Writer.Write("<span class=\"badge badge-info\">" + cell.Text + "</span>");

            });
            column.HeaderStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;
            column.UnboundType = DevExpress.Data.UnboundColumnType.Integer;
            column.CellStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;
            column.Visible = false;//ẩn 13.5.2025
        });

        // 03-jan-2024 added by lapbt. Show tỷ lệ khoán cá nhân AccTaskGroup --> 10/08/2024 đổi sang Tyle2
        settings.Columns.Add(column =>
        {
            column.Caption = "K.CN";
            column.FieldName = "Tyle2";     // AccTaskGroup
            column.Settings.AllowSort = DefaultBoolean.False;
            column.Width = System.Web.UI.WebControls.Unit.Pixel(15);
            column.PropertiesEdit.DisplayFormatString = "N1";
            column.SetDataItemTemplateContent(cell =>
            {
                if (!string.IsNullOrWhiteSpace(cell.Text))
                    ViewContext.Writer.Write("<span class=\"badge badge-info\">" + cell.Text + "</span>");

            });
            column.HeaderStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;
            column.UnboundType = DevExpress.Data.UnboundColumnType.Integer;
            column.CellStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;
            column.Visible = false;//ẩn 13.5.2025
        });


        //settings.CustomColumnDisplayText = (sender, e) =>
        //{
        //    if (e.Column.FieldName == "STT")
        //    {
        //        var i = e.VisibleIndex + 1;
        //        e.DisplayText = (i).ToString();
        //    }
        //};

        settings.CellEditorInitialize = (s, e) =>
        {
            ASPxEdit editor = (ASPxEdit)e.Editor;
            editor.ValidationSettings.Display = Display.Dynamic;
        };

        settings.ClientSideEvents.FocusedRowChanged = "OnGridTaskOfContractFocusedRowChanged";
        settings.ClientSideEvents.EndCallback = "OnGridTaskOfContractEndCallBack";
        

        settings.AfterPerformCallback = (sender, e) =>
        {
            var gridView = ((MVCxGridView)sender);
            gridView.JSProperties.Add("cpIsCustomCallback", null);
            gridView.JSProperties["cpIsCustomCallback"] = e.CallbackName == "CUSTOMCALLBACK";
            //gridView.ExpandAll();
        };

    });

}
@grid.Bind(Model).GetHtml()
