
@{
    Layout = null;
    var contractId = (int)ViewBag.ContractId;
    var maHD = ViewBag.MaHD as string;
}

<div>
    <h5>Upload hồ sơ hợp đồng @maHD</h5>
    @using (Html.BeginForm("UploadDocument", "Contracts", FormMethod.Post,
        new { enctype = "multipart/form-data", id = "uploadForm" }))
    {
        @Html.Hidden("id", contractId)
        <div class="form-group">
            <label for="file">Chọn file PDF; JPG; JPEG</label>
            <input type="file" name="file" id="file" accept="application/pdf/jpg/jpeg" class="form-control" />
        </div>
        <button type="submit" class="btn btn-success">Upload</button>
    }

</div>




